<div class="rankings">
	<h3 class="rank_title">Rankings</h3>
    {{#if ta}}
        {{#each rank}}
            {{> rank taData/ta }}
        {{/each}}
    {{else}}
        {{#each rank}}
            {{> rank hawData/haw }}
        {{/each}}
    {{/if}}
</div>