<main class="default_main">
    <div class="game_container" >
	    <div class="play_container">
		    <a class="play_link"  href="/game/ta">Play Ta</a>
    	</div>
        {{> rankings taScore }}
    </div>
    
    <div class="game_container" >
	    <div class="play_container">
		    <a class="play_link"  href="/game/haw">Play Haw</a>
	    </div>
        {{> rankings hawScore }}
    </div>
</main>
