body{
	font-family:'Audiowide', sans-serif;
	margin:0;
	background-color:#efeff5;
}



.default_header{
	background-color: #d7b3ff;
	position: relative;
	display:flex;
	align-items:center;
	justify-content: center;
	padding:auto;
}


.site-title{
	color: #30304f;
	font-size:70px;
	cursor: pointer;
}

#theme-update-button{
	font-family:'Audiowide', sans-serif;
	color: #30304f;
	font-size: 20px;
}

.to-home{
	color: #30304f;
	font-size: 20px;
	cursor: pointer;
}
.to-home:hover{
	text-decoration: underline;
}

.home-link{
	text-decoration: none;
}

.game-title{
	font-size:50px;
}

.default_footer{
	background-color:#efeff5;
	width: 100%;
	height: 150px;
	display:flex;
	align-items:center;
	position:relative;
	color:#30304f;
}


.footer_note{
	position: relative;
	padding: 10px 10px 10px 10px;
	margin: auto;
}

.default_main{
	display:flex;
	align-items:center;
	background-color: #efeff5;
	position:relative;	
}



.game_container{
	display:inline-block;
	position: relative;
	height:500px;
	width:400px;
	margin: auto;
	border:none;
	padding: 100px 0px 0px 0px;
}

.page_container{
	display:inline-block;
	height: 500px;
	width: 400px;
	margin: auto;
	border: none;
	padding: 100px 0px 0px 0px;
}

.play_container{
	background-color:#30304f;
	display: flex;
	align-items: center;
	border-radius:3px;
	max-width:550px;
	padding:0px 0px 0px 125px;
	margin:0px 0px 0px 20px;
}



.play_link{
	color:#d7b3ff;
	font-size:30px;
}


.instructions{
	display: inline-block;
	min-width: 300px;
	max-width: 300px;
	margin: 10px 10px auto 100px;
	padding: 0px;
}

.play_game_button{
	background-color:#30304f;
	border:none;
	border-radius:15px;
	max-width:150px;
	max-height:75px;
	min-height:75px;
	min-width:150px;
	margin: 0px 0px 0px 50px;
	color:#efeff5;
}
/*
.play_game_button:hover{
	background-color:  #8181b1;
}*/

.game{
	display: inline-block;
	min-width: 300px;
	max-width: 300px;
	margin: 10px 10px auto 10px;
	padding: 0px;
}

.rankings{
	display: inline-block;
	min-width: 400px;
	max-width: 400px;
	max-height: 300px;
	margin: 10px 10px auto 10px;
	padding: 0px;
	background-color: #e0e0eb;
	border:none;
}


.rank_title{
	color:#30304f;
	margin: 0px 0px 0px 150px;
}



.rank{
	max-width:400px;
	max-height:19px;
	margin: 0px;
	display: flex;
	align-items: center;
	padding:3px 10px 3px 10px;
	border: 1px solid #30304f;
}


.rank_place{
	font-size: 14px;
	width: 50px;
	color: #30304f;
	margin:0px 50px 0px 0px;
}


.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.tap_number{
	font-size:14px;
	color:#30304f;
	margin:0px 0px 0px 50px;
}


.hold_number{
	font-size:14px;
	color:#30304f;
	margin:0px 0px 0px 50px;
}


#options_button{
	position: fixed;
	right: 30px;
	top:80px;
	height:50px;
	width:50px;
	border:none;
	border-radius:30px;
	background-color:#30304f;
	display:flex;
	align-items:center;
	color: #30304f;
	cursor:pointer;
}

#option_image{
	background-color: transparent;
	max-height:30px;
	max-width:30px;
	margin: 0px 0px 0px 5px;
}

#modal-backdrop{
	position:fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	z-index:1000;
	background-color:rgba(0,0,0,0.85);	
}

#game-modal-backdrop{
	position:fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	z-index:1000;
	background-color:rgba(0,0,0,0.85);	
}

#options_modal{
	position:fixed;
	top:250px;
	right:600px;
	z-index:1010;
	background-color: #efeff5;
	overflow:scroll;
}

#game_modal{
	position:fixed;
	top:250px;
	right:600px;
	z-index:1010;
	background-color: #efeff5;
	overflow:scroll;
}


.hidden{
	display: none;
}

#modal_accept{
	margin:0px 0px 0px 100px;
}

#theme_update_button{
	padding:0px 0px 0px 100px;
}

.modal_contents{
	display:inline-block;
	width:auto;
	min-width:200px;
	max-width:600px;
	min-width:300px;
	min-height:350px;
	margin:40px auto;
	background-color: #efeff5; 
	color:#30304f;
	border-radius:10px;
	padding: 10px;
}


#close_modal{
	position:absolute;
	right:10px;	
	top:5px;
	font-size:24px;
	border:none;
	background:none;
	padding:0;
	cursor:pointer;	
}

#close_game_modal{
	position:absolute;
	right:10px;	
	top:5px;
	font-size:24px;
	border:none;
	background:none;
	padding:0;
	cursor:pointer;	
}

.modal-title{
	text-decoration: underline;
	font-size: 24px;
	padding: 0px 0px 0px 25px;
}

.modal_body{
	padding:10px;
}

.option{
	display:flex;
	align-items:center;
	font-size:18px;
	margin:10px 0;
}



.option_fieldset{
	flex: 1 100%;
	border:1px solid #30304f;
}

